.additional-products {
  width: 320px;
  margin: 0 auto 35px auto;
}

.additional-products__wrapper-title {
  border-bottom: solid 3px #68b738;
  margin-bottom: 40px;
}

.additional-products__main-title {
  line-height: 24px;
  font-size: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  display: inline-block;
  padding: 0 23px 0 19px;
  margin: 0;
  transform: translateY(50%);
  background: #ffffff;
}

.additional-products__list {
  .list-reset;
  padding: 0 20px;
  margin-bottom: 39px;
}

.additional-products__item {
  padding: 14px 0 16px 0;
  border-bottom: solid 1px #cdcdcd;
}

.additional-products__item:first-child {
  border-top: solid 1px #cdcdcd;
}

.additional-products__item-title {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: #222222;
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  margin: 0 0 13px 0;
  padding-left: 1px;
}

.additional-products__wrapper-data {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 15px;
}

.additional-products__data-value {
  text-transform: uppercase;
}

.additional-products__btn {
  padding: 10px 0;
}

@media (min-width: @tablet-width) {
  .additional-products {
    width: @tablet-width;
    margin-bottom: 69px;
  }

  .additional-products__wrapper-title {
    margin-bottom: 93px;
  }

  .additional-products__alignment-title {
    width: @tablet-width;
    margin: 0 auto;
  }

  .additional-products__main-title {
    line-height: 36px;
    font-size: 36px;
    margin-left: 28px;
    padding: 0 36px 0 39px;
  }

  .additional-products__list {
    padding: 0 30px;
    margin-bottom: 69px;
  }

  .additional-products__item {
    padding: 26px 37px 27px 37px;
    border: solid 1px #cdcdcd;
    border-top: 0;
  }

  .additional-products__wrapper-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .additional-products__item-title {
    line-height: 20px;
    font-size: 20px;
    padding: 0;
    margin: 0 0 25px 1px;
  }

  .additional-products__wrapper-data {
    margin: 0 0 19px 0;
    text-align: right;
    line-height: 20px;
    font-size: 16px;
  }

  .additional-products__data-value {
    width: 95px;
  }
}

@media (min-width: @desktop-width) {
  .additional-products {
    flex-grow: 1;
    width: auto;
    margin-bottom: 87px;
  }

  .additional-products__alignment-title {
    width: @desktop-width;
  }

  .additional-products__main-title {
    margin-left: 0;
  }

  .additional-products__wrapper {
    display: flex;
    justify-content: space-between;
    width: 1220px;
    margin: 0 auto;
  }

  .additional-products__list {
    padding: 0;
    margin-bottom: 0;
  }

  .additional-products__item {
    border-left: 0;
    border-right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 895px;
    padding: 15px 0 16px 0;
  }

  .additional-products__item-title {
    margin: 0;
  }

  .additional-products__wrapper-data {
    width: 288px;
    text-align: left;
    margin: 0;
    padding-top: 9px;
  }

  .additional-products__data-value {
    width: 44px;
  }

  .additional-products__wrapper-content {
    width: 614px;
  }

  .additional-products__btn {
    width: 245px;
  }
}
