.bonuses {
  width: 320px;
  margin: 0 auto 35px auto;
  padding: 0 20px;
}

.bonuses__data-wrapper {
  min-height: 290px;
  background: url("../img/gift-photo-mobile@1x.jpg") no-repeat;
  background-color: #68b738;
  color: #ffffff;
  text-align: center;
  display: flex;
}

.bonuses__title {
  font-size: 16px;
  line-height: 20px;
  margin: auto auto 45px auto;
  width: 165px;
}
