.catalog {
  margin: 0 auto;
  width: 320px;
}

.catalog__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
  color: #111111;
  margin: 0px;
  padding: 20px 20px 30px 20px;
  border-bottom: solid 1px grey;
}

.catalog__list {
  .list-reset;
}
