.footer-page {
  width: 320px;
  margin: 0 auto;
}

.main-page .footer-page__cooperation-wrapper {
  background: #ffffff;
}

.footer-page__cooperation-wrapper {
  display: flex;
  background: #f2f2f2;
}

.footer-page__cooperation-title {
  font-family: "Oswald", "Arial", sans-serif;
  width: 50%;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  margin: 0;
  padding: 28px 10px 26px 19px;
}

.footer-page__address {
  width: 50%;
  line-height: 20px;
  font-style: normal;
  padding: 28px 0 26px 0;
}

.footer-page__links-wrapper {
  padding: 0 20px;
  background: #f2f2f2;
}

.footer-page__logo {
  width: 130px;
  height: 25px;
}

.footer-page__academy-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.footer-page__academy-title {
  font-size: 16px;
  line-height: 16px;
  color: #444444;
}

.footer-page__link {
  display: block;
  text-align: center;
  padding: 37px 0 27px 0;
}

.footer-page__link:hover {
  opacity: 0.8;
}

.footer-page__link:active {
  opacity: 0.6;
}

.footer-page__socials {
  .list-reset;
  display: flex;
  justify-content: space-between;
  padding: 22px 82px 9px 70px;
  border-bottom: solid 1px #d9d9d9;
  border-top: solid 1px #d9d9d9;
  margin-bottom: 19px;
  align-items: center;
}

.footer-page__social-btn {
  font-size: 0;
  display: block;
  background: no-repeat center center;
}

.footer-page__social-btn--vk svg {
  width: 22px;
  height: 22px;
}

.footer-page__social-btn--inst svg {
  width: 16px;
  height: 16px;
}

.footer-page__social-btn--fb svg {
  width: 10px;
  height: 20px;
}

.footer-page__map {
  height: 363px;
  background: #f2f2f2 url("../img/bg-map-mobile@1x.png") 0 -38px;
  position: relative;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.png");
    background-size: 320px 400px;
  }
}

.footer-page__marker-map {
  width: 100%;
  height: 100%;
  background: url("../img/map-pin.png") no-repeat 130px 139px;
  background-size: 60px 53px;
}

.footer-page__academy-wrapper svg {
  width: 40px;
  height: 40px;
  margin-right: -7px;
}

.footer-page__academy-wrapper,
.footer-page__social-btn {
  color: #666666;
}

.footer-page__academy-wrapper:hover,
.footer-page__social-btn:hover {
  color: #68b738;
}

.footer-page__academy-wrapper:active,
.footer-page__social-btn:active {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .footer-page {
    width: @tablet-width;
    margin: 0 auto;
    padding: 0;
  }

  .footer-page__cooperation-wrapper {
    padding: 38px 71px 32px 71px;
    justify-content: space-between;
  }

  .footer-page__cooperation-wrapper br {
    display: block;
  }

  .footer-page__cooperation-title {
    font-size: 20px;
    line-height: 25px;
    padding-left: 0;
  }

  .footer-page__address {
    text-align: right;
    font-size: 16px;
    padding-top: 25px;
    width: 180px;
  }

  .footer-page__address-city {
    padding-top: 20px;
    display: block;
  }

  .footer-page__map {
    height: 396px;
    background: #f2f2f2 url("../img/bg-map-tablet@1x.png") 0 -4px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
      background-size: 768px 400px;
    }
  }

  .footer-page__marker-map {
    background: url("../img/map-pin.png") no-repeat 322px 145px;
    background-size: 125px 108px;
  }

  .footer-page__links-wrapper {
    margin: 0;
    display: flex;
    padding: 54px 30px 57px 30px;
    justify-content: space-between;
    align-items: center;
  }

  .footer-page__link {
    padding: 0;
  }

  .footer-page__logo {
    width: 130px;
    height: 30px;
  }

  .footer-page__socials {
    border: 0;
    padding: 0;
    margin: 6px 0 0 15px;
    width: 130px;
  }

  .footer-page__social-btn--vk svg {
    width: 37px;
    height: 15px;
  }

  .footer-page__social-btn--inst svg {
    width: 23px;
    height: 23px;
  }

  .footer-page__social-btn--fb svg {
    width: 17px;
    height: 29px;
  }

  .footer-page__academy-wrapper {
    width: 164px;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .footer-page {
    position: relative;
    width: auto;
    background: #f2f2f2;
  }

  .footer-page__cooperation-desktop-wrapper {
    width: 1280px;
    position: relative;
    z-index: 5;
    margin: 0 auto -294px auto;
    padding-top: 93px;
  }

  .footer-page__cooperation-wrapper {
    margin-left: 31px;
    padding: 64px 75px 57px 75px;
    background: #ffffff;
    width: 570px;
    position: relative;
    z-index: 5;
  }

  .footer-page__cooperation-title {
    padding: 0;
    margin: 0;
  }

  .footer-page__address {
    padding: 0;
    margin: 0;
    text-align: left;
    width: 170px;
    margin-top: -2px;
  }

  .footer-page__links-wrapper {
    width: 1280px;
    margin: 0 auto;
  }

  .footer-page__map {
    background: #f2f2f2 url("../img/bg-map-desktop@1x.png") no-repeat center top;
    height: 400px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.png");
      background-size: 1440px 400px;
    }
  }

  .footer-page__marker-map {
    position: static;
    margin: 0 auto;
    width: @desktop-width;
    background: url("../img/map-pin.png") no-repeat 928px 150px;
  }
}
