.footer-page {
  width: 320px;
  margin: 0 auto;
}

.main-page .footer-page__cooperation-wrapper {
  background: #ffffff;
}

.footer-page__cooperation-wrapper {
  display: flex;
  background: #f2f2f2;
}

.footer-page__cooperation-title {
  font-family: "Oswald", "Arial", sans-serif;
  width: 50%;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  margin: 0;
  padding: 30px 20px;
}

.footer-page__address {
  width: 50%;
  line-height: 20px;
  font-style: normal;
  padding: 30px 0;
}

.footer-page__links-wrapper {
  padding: 0 20px;
  background: #f2f2f2;
}

.footer-page__logo {
    width: 195px;
    height: 40px;
}

.footer-page__academy-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-page__academy-title {
  font-size: 16px;
  line-height: 16px;
  color: #444444;
}

.footer-page__link {
  display: block;
  text-align: center;
  padding: 40px 0 30px 0;
}

.footer-page__socials {
  .list-reset;
  display: flex;
  justify-content: center;
  padding: 25px 0;
  border-bottom: solid 1px grey;
  border-top: solid 1px grey;
  margin-bottom: 20px;
}

.footer-page__map-tablet {
  display: none;
  width: 100%;
}

.footer-page__map-desktop {
  display: none;
  width: 100%;
}


@media (min-width: @tablet-width) {
  .footer-page {
    width: @tablet-width;
    margin: 0 auto;
    padding: 0;
  }

  .footer-page__cooperation-wrapper {
    padding: 60px 70px;
  }

  .footer-page__cooperation-title {
    font-size: 20px;
    line-height: 25px;
  }

  .footer-page__address {
    text-align: right;
  }

  .footer-page__map-mobile {
    display: none;
  }

  .footer-page__map-tablet {
    display: block;
  }

  .footer-page__links-wrapper {
    margin: 0;
    display: flex;
    padding: 0 30px;
    justify-content: space-between;
    align-items: center;
  }

  .footer-page__logo {
    width: 130px;
    height: 30px;
  }

  .footer-page__socials {
    border: 0;
    padding: 0px;
    margin: 0px;
  }

}

@media (min-width: @desktop-width) {
  .footer-page {
    width: @desktop-width;
    position: relative;
  }

  .footer-page__cooperation-wrapper {
    position: absolute;
    left: 100px;
    top: 90px;
    padding: 70px 75px;
    width: 570px;
    background: #ffffff;
  }

  .footer-page__cooperation-title {
    padding: 0;
    margin: 0;
  }

  .footer-page__address {
    padding: 0;
    margin: 0;
  }

  .footer-page__map-tablet {
    display: none;
  }

  .footer-page__map-desktop {
    display: block;
  }
}
