.header-content {
  background: url("../img/index-background-mobile@1x.jpg") no-repeat;
  border-top: solid 1px #65a93c;
  min-height: 480px;
  color: #ffffff;
  font-family: "Oswald", "Arial", sans-serif;
  margin: 0 auto 22px auto;
  padding: 0 20px;
  width: 320px;
  text-align: center;
}

.header-content__title {
  line-height: 36px;
  font-size: 36px;
  font-weight: normal;
  margin: 25px 0 26px 0;
}

.header-content__text {
  line-height: 14px;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 28px;
}

.header-content__btn {
  font-size: 14px;
  line-height: 18px;
}

.header-content__img-tablet {
  display: none;
}

@media (min-width: @tablet-width) {
  .header-content {
    width: @tablet-width;
    border: 0;
    margin: 0 auto;
    background: url("../img/index-can-tablet@1x.jpg") no-repeat 29px 201px;
    color: #111111;
    text-align: left;
    padding-left: 117px;
    min-height: 810px;
  }

  .header-content__title {
    line-height: 60px;
    font-size: 60px;
    font-weight: normal;
    width: 420px;
    margin: 33px 0 42px 0;
  }

  .header-content__text {
    line-height: 20px;
    font-size: 20px;
    margin-bottom: 47px;
    padding-left: 1px;
    text-align: left;
  }

  .header-content__img {
    display: none;
  }

  .header-content__img-tablet {
    display: block;
    margin-left: -90px;
  }

  .header-content__btn {
    display: inline-block;
    font-size: 20px;
    line-height: 20px;
    padding: 16px 25px;
    margin-left: 2px;
    width: auto;
  }
}

@media (min-width: @desktop-width) {
  .header-content {
    width: @desktop-width;
    margin: -222px auto 65px auto;
    background: url("../img/index-can-desktop@1x.png") no-repeat, url("../img/index-background-desktop@1x.jpg") no-repeat;
    background-position: 490px 251px, right -69px top 109px;
    padding-top: 331px;
    min-height: 820px;
  }

  .header-content__wrapper {
    width: 1158px;
    margin: 0 auto;
  }

  .header-content__title {
    margin: 0 0 41px 0;
  }

  .header-content__text {
    margin-bottom: 53px;
  }

  .header-content__btn {
    padding: 16px 27px;
    margin-left: 0;
  }
}
