.living-example {
  background: #f2f2f2;
  margin: 0 auto;
  padding: 0 20px 40px 20px;
  max-width: 320px;
}

.living-example__title {
  font-size: 36px;
  line-height: 60px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  margin-bottom: 40px;
  color: #111111;
}

.living-example__text {
  margin-bottom: 25px;
}

.living-example__result {
  .list-reset;
  display: flex;
  justify-content: space-between;
}

.living-example__item {
  width: 45%;
  text-align: center;
  border: solid 1px grey;
  border-radius: 3px;
}

.living-example__item-total-data {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #111111;
}

.living-example__item-result-data {
  font-size: 12px;
  line-height: 12px;
  background: #f2f2f2;
  width: 80%;
  margin: 0 auto -10px auto;
}

.living-example__price {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
  margin-bottom: 45px;
}

.living-example__img {
  margin: 0 auto 35px auto;
}

.living-example__comparison {
  width: 200px;
  margin: 0 auto;
}

.living-example__comparison-label {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}
