.product-item {
  padding: 25px 20px 24px 20px;
  border-bottom: solid 1px #ededed;
}

.product-item--other {
  background: none;
  text-align: center;
  padding-top: 83px;
}

.product-item__main-wrapper {
  display: flex;
  margin-bottom: 22px;
}

.product-item--other .product-item__main-wrapper {
  display: block;
  text-align: center;
}

.product-item__wrapper-img,
.product-item__sub-wrapper {
  width: 50%;
}

.product-item__wrapper-img {
  height: 95px;
}

.product-item__wrapper-img img {
  width: 100%;
  height: 100%;
}

.product-item__title {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  display: block;

  margin-bottom: 12px;
  margin-top: -3px;
  width: 95px;
}

.product-item--other .product-item__title {
  width: auto;
  padding-top: 0;
  margin-bottom: -5px;
}

.product-item--other .product-item__text-info {
  font-size: 12px;
  line-height: 16px;
}

.product-item__list {
  .list-reset;
  font-size: 12px;
  line-height: 16px;
}

.product-item__wrapper-data {
  display: flex;
  justify-content: space-between;
}

.product-item__data-value--price {
  text-transform: uppercase;
}

.product-item__btn {
  padding: 10px 0;
}

@media (min-width: @tablet-width) {
  .product-item {
    padding: 162px 38px 40px 38px;
    width: 325px;
    border: 0;
    text-align: center;
    background: #f2f2f2;

    min-height: 430px;
    margin-top: 141px;
  }

  .product-item--other {
    border: solid 1px grey;
  }

  .product-item__main-wrapper {
    display: block;
    position: relative;
  }

  .product-item__wrapper-img,
  .product-item__sub-wrapper {
    display: block;
  }

  .product-item__sub-wrapper {
    width: 100%;
  }

  .product-item__wrapper-img {
    width: auto;
    height: auto;
    outline: solid 1px red;
    position: absolute;
    top: -200px;
    left: 50px;
  }

  .product-item__title {
    text-align: center;
    margin: 0 auto 19px auto;
    width: 150px;
    font-size: 20px;
    line-height: 20px;
  }

  .product-item__wrapper-data {
    border-bottom: solid 1px #cdcdcd;
    font-size: 16px;
    line-height: 16px;
    padding: 8px 0 7px 0;
  }

  .product-item__list {
    margin-bottom: 33px;
  }
}


@media (min-width: @desktop-width) {
  .product-item {
    padding: 162px 39px 40px 39px;
    width: 245px;
    border: 0;
    text-align: center;
    min-height: 431px;
    margin-top: 142px;
  }

  .product-item__main-wrapper {
    display: block;
  }

  .product-item__wrapper-img,
  .product-item__sub-wrapper {
    width: 100%;
  }

  .product-item__title {
    text-align: center;
    margin: 2px auto 19px auto;
  }

  .product-item__list {
    margin-bottom: 32px;
  }

  .product-item__wrapper-img {
    top: auto;
    bottom: 205px;
    left: 2px;
  }
}
