.product-item {
  padding: 25px 0;
  border-bottom: solid 1px grey;
}

.product-item__main-wrapper {
  display: flex;
}

.product-item__wrapper-img,
.product-item__sub-wrapper {
  width: 50%;
}

.product-item__title {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 15px;
  display: block;
}

.product-item__list {
  .list-reset;
  font-size: 12px;
  line-height: 16px;
}

.product-item__wrapper-data {
  display: flex;
  justify-content: space-between;
}

.product-item__data-value--price {
  text-transform: uppercase;
}
