.programs-list {
<<<<<<< HEAD
  margin: 0 auto 30px auto;
  padding: 0 20px;
  width: 320px;
=======
  margin-bottom: 30px;
>>>>>>> 4b8958721bfd140dc37003e071a7b0f25f52f769
}

.programs-list__list {
  .list-reset;
}
<<<<<<< HEAD

@media (min-width: @tablet-width) {
  .programs-list {
    width: @tablet-width;
  }
}

@media (min-width: @desktop-width) {
  .programs-list {
    width: @desktop-width;
  }

  .programs-list__list {
    display: flex;
    justify-content: space-between;
  }
}
=======
>>>>>>> 4b8958721bfd140dc37003e071a7b0f25f52f769
