.program__title {
  font-size: 36px;
  line-height: 60px;
  color: #111111;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
}

.program_info {
  color: #111111;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
}
