*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
<<<<<<< HEAD

@tablet-width: 768px;
@desktop-width: 1200px;
=======
>>>>>>> 4b8958721bfd140dc37003e071a7b0f25f52f769
